In [52]:
import pymysql
import pandas as pd
from textblob import TextBlob
from langdetect import detect
from langdetect.lang_detect_exception import LangDetectException

In [68]:
# Establish connection
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='saransh',
    database='amazon_reviews'
)

# Query data
query = "SELECT * FROM table1"
data = pd.read_sql(query, connection)

# Close connection
connection.close()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13140\3075744983.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

In [76]:
data['review_title'] = data['review_title'].str.replace('\n', '')

In [8]:
datasort = data.sort_values("review_rating", ascending=True)

In [78]:
data.head()

,id,review_title,review_rating,review_body
0,1,Best AC in affordable prize,5,"If you are looking for a complete package, the..."
1,2,Worst brand and worst service,1,Bought it for my Kerala home and thought Daiki...
2,3,High quality product from Daikin,4,The delivery was quick and the AC was delivere...
3,4,One of the best AC out there + excellent remote?,5,"If you are looking for a complete package, the..."
4,5,Best cooling,5,Since I am using this last 2months cooling is ...

In [79]:
newdata=data
def is_english(text):
    try:
        return detect(text) == 'en'
    except LangDetectException:
        return False
    
rows_to_drop=[]
    
for index, row in data.iterrows():
    if not (is_english(row['review_title']) and is_english(row['review_body'])):
        rows_to_drop.append(index)

# Drop rows from the DataFrame

newdata.drop(rows_to_drop, inplace=True)

In [80]:
newdata.shape   #removed the reviews which were not written in english

(63, 4)

In [81]:
newdata

,id,review_title,review_rating,review_body
0,1,Best AC in affordable prize,5,"If you are looking for a complete package, the..."
1,2,Worst brand and worst service,1,Bought it for my Kerala home and thought Daiki...
2,3,High quality product from Daikin,4,The delivery was quick and the AC was delivere...
3,4,One of the best AC out there + excellent remote?,5,"If you are looking for a complete package, the..."
4,5,Best cooling,5,Since I am using this last 2months cooling is ...
...,...,...,...,...
82,83,Not showing display,3,After installation ac 1.5 not showing display...
83,84,"I have not reveive any demo card,catalog,remot...",3,"I have not reveive any demo card,catalog,remot..."
87,88,Pathetic bought,3,Don't buy DAIKIN AC in online.. they charged 3...
88,89,Price is misleading,3,The price is misleading as I had to pay four t...
89,90,Nice Trusted Brand for AC,5,Good product and awasome service.Let see how i...

In [85]:
is_english(data['review_body'][0])
data['review_body'][0]

'If you are looking for a complete package, then look nowhere other than Daikin.I purchased the  AC 1.5 mnths ago, and until now I am impressed with what it has to offer. Installation went super smooth. The installation guys came within the same day. The installation process started, and it was done in 3 hours max.Also, for those people who are saying that they are charging money even when installation is free, you guys have no idea about how AC installation is done.The extra charges can vary heavily depending on the amount of material needed including pipe, tape and so on. In my case, it cost me 5000INR, and I am super happy with it.The build quality of the AC is excellent. The internal unit looks sleek and modern. The AC functions as advertised. It  cools very nicely.Overall ValueThe overall value of the AC is just excellent. It is affordable and enables you to enjoy with minimal electricity bills.'

In [82]:
data.iloc[7]

id                                               10
review_title                          Great cooling
review_rating                                     4
review_body      Great cooling and value for money.
Name: 9, dtype: object

In [72]:
rows_to_drop

[7,
 8,
 10,
 13,
 20,
 22,
 23,
 25,
 27,
 30,
 32,
 33,
 41,
 48,
 50,
 51,
 52,
 57,
 62,
 67,
 75,
 79,
 80,
 81,
 84,
 85,
 86]